@page
@model ZettelWirtscahft.ElectronApp.Pages.Zettel.CreateZettelModel
@{
    ViewData["Title"] = "Neuen Zettel anlegen";
}

<h1>Neuer Zettel</h1>
<h4>Zettel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Zettel.Title" class="control-label"></label>
                <input asp-for="Zettel.Title" class="form-control" />
                <span asp-validation-for="Zettel.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zettel.Content" class="control-label"></label>
                <textarea asp-for="Zettel.Content" class="form-control"></textarea>
                <span asp-validation-for="Zettel.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Erstellen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./ListZettel">Zurück</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}