@page "{zettelId}"
@model ZettelWirtscahft.ElectronApp.Pages.Zettel.DetailZettelModel
@{
    ViewData["Title"] = Model.Zettel.Title;
}

<h4>@Model.Zettel.Title</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <p>@Model.Zettel.Content</p>
    </div>
</div>

<div>
    <a asp-page="./ListZettel">Zurück</a>
</div>
