@page
@model ZettelWirtscahft.ElectronApp.Pages.Zettel.ListZettelModel
@{
}

<h1>Zettel Kasten</h1>
<hr />
<p>
    <a asp-page="CreateZettel">Neuen Zettel erstellen</a>
</p>
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(m => m.Zettel.First().Title)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var zettel in Model.Zettel)
                {
                    <tr>
                        <td>@Html.DisplayFor(item => zettel.Title)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>